<div id="main">
  <script type="text/javascript" src="./javascripts/view.js"></script>

  <div id="comment_top">
    <%= ct = @display_info[:comment_top] %>
    <!-- <%= RedCloth.new(ct).to_html %> -->
  </div>

  <% board_size = @display_info[:piece_image_size]*8 %>

  <% main_board_style  = "width:  " + board_size.to_s + "px; " %>
  <% main_board_style += "height: " + board_size.to_s + "px; " %>

  <% board_edge_style  = "width:  " + (board_size + 3*2).to_s + "px; " %>
  <% board_edge_style += "height: " + (board_size + 3*2).to_s + "px; " %>

  <div class="board_edge" style="<%= board_edge_style %>">

  <table id="main_board" class="main_board w_at_bot_bd" cellspacing="0"
         style="<%= main_board_style %>">
    <% 7.downto(0).each do |i| %>
      <tr id="r<%= i.to_s %>" class="main_board">
      <% (0..7).each do |j| %>
        <% sqr_id = "sqr_" + i.to_s + "_" + j.to_s %>
        <% sqr_class = (i + j) % 2 == 1 ? "w_sqr" : "b_sqr" %>
        <% sqr_style = "width: " + @display_info[:piece_image_size].to_s + "px; " %>
        <% sqr_style += "height: " + @display_info[:piece_image_size].to_s + "px;" %>
        <td id="<%= sqr_id %>" class="main_board <%= sqr_class %>" style="<%= sqr_style %>">
          <% piece_img_path = @display_info[:piece_image_paths][i][j] %>
          <% unless piece_img_path.empty? %>
            <img src="<%= piece_img_path %>">
          <% else %>
            <%# &nbsp; %>
          <% end %>
      	</td>
      <% end %>
      </tr>
    <% end %>
  </table>

  </div>

  <div id="comment_bottom">
    <%= cb = @display_info[:comment_bottom] %>
    <!-- <%= RedCloth.new(cb).to_html %> -->
  </div>
</div>

